$animatedLinkColor: currentColor !default;
$animatedLinkSize: 0.1em !default;
$animatedLinkSpeed: 0.25s !default;

@mixin animatedLink($color: $animatedLinkColor, $size: $animatedLinkSize) {
    background-image: linear-gradient($color, $color);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% $size;

    &:hover,
    &:focus {
        animation-duration: $animatedLinkSpeed;
        animation-name: linkHover;
    }
}

@mixin animatedLinkHover($color: $animatedLinkColor, $size: $animatedLinkSize) {
    background: none;

    &:hover,
    &:focus {
        animation-duration: $animatedLinkSpeed;
        animation-name: linkHover;
        background-image: linear-gradient($color, $color);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: 100% $size;
    }
}

@keyframes linkHover {
    0% {
        background-size: 0 $animatedLinkSize;
    }

    100% {
        background-size: 100% $animatedLinkSize;
    }
}
